{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">

        <div class="affichage_profil" >{{ form_start(userForm) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.username) }}<br></div>
            <div class="affichage_profil" >{{ form_row(userForm.participant.nom) }}<br></div>
                <div class="affichage_profil" >{{ form_row(userForm.participant.prenom) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.participant.telephone) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.participant.mail) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.plainPassword, {'required':false}) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.confirmationPass, {'required':false}) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.participant.campus) }}<br></div>
        <div class="affichage_profil" >{{ form_row(userForm.participant.imageFile) }}</div>
        <div class="affichage_profil" ><button>Enregistrer</button></div>
        <div hidden>
            {{ form_row(userForm.participant.administrateur) }}
            {{ form_end(userForm) }}
        </div>
        {{ form_end(userForm) }}
        <div class="affichage_profil" ><a href="{{ path('sortie_liste') }}">Annuler</a></div>
    </section>
{% endblock %}

{% block title %}
Modifier votre profil - {{ parent() }}
{% endblock %}
