{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouvelle utilisateur - {{ parent() }}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <h1>Inscription</h1>
        {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4" hidden>
                {{ form_row(registrationForm.username) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                {{ form_row(registrationForm.participant) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe :'
            }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                {{ form_row(registrationForm.confirmationPass, {
                    label: 'Confirmation mot de passe :'
                }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 ">
                <button type="submit" class="btn btn-success">Inscription</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
