{% extends 'base.html.twig' %}

{% block body %}
    <table class="listeSortie">
        <thead>
        <tr>
            <th>Ville</th>
            <th>Code Postal</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {%  for ville in listeVille %}
            <tr>
                <th>{{ ville.nom }}</th>
                <th>{{ ville.codePostal }}</th>
                <th>Modifier - Supprimer</th>
            </tr>
        {%  endfor %}
        {{ form_start(formVille) }}
            <tr>
                <th>{{ form_row(formVille.nom) }}</th>
                <th>{{ form_row(formVille.codePostal) }}</th>
                <th><button type="submit">Ajouter</button></th>
            </tr>
        {{ form_end(formVille) }}
        </tbody>
    </table>
{% endblock %}

{% block title %}
    Liste des villes | {{ parent() }}
{% endblock %}

