{% extends 'base.html.twig' %}

{% block body %}
<div>
    <form method="post" action="{{ path('liste_participant') }}">
        <table class="listeParticipant">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>Actif</th>
                <th>Admin</th>
                <th>Supprimer</th>
                <th>Rendre incatif</th>
            </tr>
            </thead>

                <tbody>
                    {%  for user in users %}
                        <tr>
                            <th>{{ user.participant.nom }}</th>
                            <th>{{ user.participant.prenom }}</th>
                            <th>{{ user.participant.mail }}</th>
                            <th>{{ user.participant.telephone }}</th>
                            <th>{% if user.participant.actif %}<img  class="checked" src="https://img.icons8.com/pastel-glyph/64/000000/checked--v4.png"/>{% endif %}</th>
                            <th>{% if user.participant.administrateur %}<img  class="checked" src="https://img.icons8.com/pastel-glyph/64/000000/checked--v4.png"/>{% endif %}</th>
                            <th><input type="checkbox" name="supp_{{ user.id }}"></th>
                            <th><input type="checkbox" name="inactiv_{{ user.id }}"></th>
                        </tr>
                    {%  endfor %}
                </tbody>
        </table>
        <div class="buttonParticipant">
            <button type="submit">Sauvegarder</button>
            <button type="reset">Reset</button>
        </div>
    </form>

{% endblock %}

{% block title %}

{% endblock %}
