{% extends 'base.html.twig' %}
{% block body %}
    <div id="bodyLieuUnique">
        <h1>{% block titre ""%}</h1>
        <div class="infosSortie">
            <div class="groupeInfo">
                {% block formStart "" %}
                <div class="blockInfo">
                    <span class="blockLabel blockLabelLeft">Nom de la sortie:</span>
                    <span class="infoOrInput">{% block nomSortie "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelLeft">Date et heure de la sortie:</span>
                    <span class="infoOrInput">{% block dateHeureDebut "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelLeft">Date limite d'inscription:</span>
                    <span class="infoOrInput">{% block dateLimiteInscription "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelLeft">Nombre de place:</span>
                    <span class="infoOrInput">{% block nombreDePlace "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelLeft">Durée:</span>
                    <span class="infoOrInput">{% block duree "" %} minutes</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelLeft">Description et infos:</span>
                    <span class="infoOrInput">{% block description "" %}</span>
                </div>
            </div>
            <div class="groupeInfo">
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">campus:</span>
                    <span class="infoOrInput">{% block campusOrganisateur "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">ville:</span>
                    <span class="infoOrInput">{% block villeSortie "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">Lieu:</span>
                    <span class="infoOrInput">{% block lieuSortie "" %}
                    {% if ajoutVille == 'oui' %}
                        <button id="bouttonAjoutVille" type="button">+</button>
                    {% endif %}
                    </span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">Rue:</span>
                    <span id="rue" class="infoOrInput">{% block rueSortie "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">Code Postale:</span>
                    <span id="codePostale" class="infoOrInput">{% block codePostalSortie "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">Latitude:</span>
                    <span id="latitude" class="infoOrInput">{% block LatitudeSortie "" %}</span>
                </div>
                <div class="blockInfo">
                    <span class="blockLabel blockLabelRight">Longitude:</span>
                    <span id="longitude" class="infoOrInput">{% block LongitudeSortie "" %}</span>
                </div>
            </div>
        </div>
        {% if ajoutVille == 'oui' %}
            <div class="bouttonSortie">
                <button name="validation" value="enregistrer">enregistrer</button>
                <button name="validation" value="publier">publier la sortie</button>
                {% if boutonSupprimer == 'oui' %}
                    <a class="lienBoutton" href="{{ path('sortie_annuler', {'id': sortie.id }) }}">
                        <button type="button" name="validation" value="supprimer">supprimer la sortie</button>
                    </a>
                {% endif %}
                <a class="lienBoutton" href="{{ path('sortie_liste') }}">
                    <button type="button" name="validation" value="annuler">annuler</button>
                </a>
            </div>
            <div id="modalMask" class="modalMaskInactive">
                <div id="modal">modale</div>
            </div>
            <div id="waiting" class="iconWaitingInactive"><img class="imageWaiting" src="{{ asset('icon/waiting-icon-gif-1.jpg') }}"></div>

            {% block formEnd "" %}


        {% else %}
            <div class="participant">
                <h3>Liste des participants inscrits</h3>
                <table>
                    <thead>
                    <tr>
                        <th>pseudo</th>
                        <th>nom</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for inscrit in sortie.inscrits|slice(0,sortie.nbInscriptionsMax) %}
                        <tr>
                            <td>{{ inscrit.user.username }}</td>
                            <td>{{ inscrit.prenom }} {{ inscrit.nom }}</td>
                        </tr>
                    {% endfor %}

                    {% for i in 1..(sortie.nbInscriptionsMax-sortie.inscrits.count) %}
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        {% endif %}</div>


{% endblock %}

{% block title %}
    {{ parent () }}
{% endblock %}

{% block javascripts %}

    {{ parent () }}
    {% if ajoutVille == 'oui' %}
    <script src="{{ asset('js/gestionLieuSortie.js') }}"></script>
    {% endif %}
{% endblock %}
