{% extends 'base.html.twig' %}
{% block body %}
    <div class="infosSortie">
        <h2>Afficher une sortie</h2>
        <div>
            {% block formStart "" %}
            <div><span>Nom de la sortie:</span>{% block nomSortie "" %}</div>
            <div><span>Date et heure de la sortie:</span>{% block dateHeureDebut "" %}</div>
            <div><span>Date limite d'inscription:</span>{% block dateLimiteInscription "" %}</div>
            <div><span>Nombre de place:</span>{% block nombreDePlace "" %}</div>
            <div><span>Durée:</span>{% block duree "" %} minutes</div>
            <div><span>Description et infos:</span>{% block description "" %}</div>
        </div>
        <div>
            <div><span>campus:</span>{% block campusOrganisateur "" %}</div>
            <div><span>ville:</span>{% block villeSortie "" %}
            <div><span>Lieu:</span>{% block lieuSortie "" %}
                {% if ajoutVille == 'oui' %} <button id="bouttonAjoutVille" type="button">+</button>{% endif %}
            </div>
            <div><span>Rue:</span>{% block rueSortie "" %}</div>
            <div><span>Code Postale:</span>{% block codePostalSortie "" %}</div>
            <div><span>Latitude:</span>{% block LatitudeSortie "" %}</div>
            <div><span>Longitude:</span>{% block LongitudeSortie "" %}</div>
        </div>
    </div>
    {% if ajoutVille == 'oui' %}
        <button name="validation" value="enregistrer">enregistrer</button>
        <button name="validation" value="publier">publier la sortie</button>
        {% if boutonSupprimer == 'oui' %}
            <a href="{{ path('sortie_annuler', {'id': sortie.id }) }}">
                <button type="button" name="validation" value="supprimer">supprimer la sortie</button>
            </a>
        {%  endif %}
        <a href="{{ path('sortie_liste') }}">
            <button type="button" name="validation" value="annuler">annuler</button>
        </a>
        {% block formEnd "" %}

        <div id="modal">modale</div>
    {%  else %}
        <div class="participant">
            <h3>Liste des participants inscrits</h3>
            <table>
                <thead>
                <tr>
                    <th>pseudo</th>
                    <th>nom</th>
                </tr>
                </thead>
                <tbody>

                {% for inscrit in sortie.inscrits|slice(0,sortie.nbInscriptionsMax) %}
                    <tr>
                        <td>{{ inscrit.user.username }}</td>
                        <td>{{ inscrit.prenom }} {{ inscrit.nom }}</td>
                    </tr>
                {% endfor %}

                {% for i in 1..(sortie.nbInscriptionsMax-sortie.inscrits.count)  %}
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    {% endif %}



{% endblock %}

{% block title %}
    {{ parent () }}
{% endblock %}

{% block javascripts %}
    {% if ajoutVille == 'oui' %}
    <script>

        const url = new URL(window.location.origin + '/sortir.com/public');
        /* todo retirer /sortir.com/public en prod */

        document.querySelector('#bouttonAjoutVille').addEventListener('click',(e)=>{
            console.log(e);
            (e.preventDefault());

            let urlFormulaireLieu = '/ajax/nouveauLieu';

            fetch(url.pathname + urlFormulaireLieu, {
                headers:{
                    "X-Requested-With":"XMLHttpRequest"
                }
            }).then(reponse=>{

                return reponse.json();

            }).then(content=>{
                console.log(content)
                document.querySelector('#modal').innerHTML = content['content'];

                traitementFormulaireLieu();
            })
        })

        function traitementFormulaireLieu() {
            const form = document.querySelector('form[name="lieu"]');
            const selectLieu = document.querySelector('#sortie_lieu')
            let urlFormulaireLieu = '/ajax/nouveauLieu';
            let urlComplet = url.pathname + urlFormulaireLieu;
            console.log(urlComplet);

            form.addEventListener('submit', (e)=> {
                e.preventDefault();
                const formulaire = e.currentTarget;
                formData = new FormData(formulaire);
                plainFormData = Object.fromEntries(formData.entries());


                const formDataJsonString = JSON.stringify(plainFormData);

                console.log(formulaire);
                console.log(plainFormData);
                fetch(urlComplet, {
                    headers: {
                        "X-Requested-With": "XMLHttpRequest"
                    },
                    body: formDataJsonString,
                    method: "POST"
                }).then(reponse => {

                    return reponse.json();

                }).then(listLieu=>{
                    console.log(listLieu);

                    newSelect = '';
                    listLieu.forEach((lieu, key, tableauLieu) => {
                       if(key === tableauLieu.length -1){
                           newSelect += `<option value="${lieu.id}" selected="selected">${lieu.nom}</option>`;
                           document.querySelector('#rue').innerHTML = lieu.rue;
                           document.querySelector('#codePostale').innerHTML = lieu.codePostal;
                           document.querySelector('#latitude').innerHTML = lieu.latitude;
                           document.querySelector('#longitude').innerHTML = lieu.longitude;
                       }
                       newSelect += `<option value="${lieu.id}">${lieu.nom}</option>`;
                    })
                    selectLieu.innerHTML = newSelect;
                    document.querySelector('#modal').innerHTML = "modale";

                })
            })
        }

        miseAJourDeInfoLieu();

        function miseAJourDeInfoLieu(){
            let sortieSelectionne = document.querySelector('#sortie_lieu');
            sortieSelectionne.addEventListener('change', ()=>{

                let lieuSelectionne = sortieSelectionne.value

                let urlSuite = '/ajax/donneesDuLieuSelectionne';

                console.log(url.pathname + urlSuite +"?lieuSelectionne=" + lieuSelectionne);

                fetch(url.pathname + queryString +"?lieuSelectionne=" + lieuSelectionne).then(retour=>{
                    return retour.json();
                }).then((lieu)=>{
                    console.log(lieu)
                    document.querySelector('#rue').innerHTML = lieu['rue'];
                    document.querySelector('#codePostale').innerHTML = lieu['codePostal'];
                    document.querySelector('#latitude').innerHTML = lieu['latitude'];
                    document.querySelector('#longitude').innerHTML = lieu['longitude'];

                }).catch(e => alert(e));
            })
        }
    </script>
    {% endif %}
{% endblock %}
