{% extends 'base.html.twig' %}

{% block title %}liste des sorties - {{ parent() }}{% endblock %}


{% set connectUser = app.user %}
{% set connectUserParticipant = app.user.participant %}


{% block body %}

    <div class="barre_info">
        <div class="info_jour">date du jour: {{ "now"|date("d/m/Y") }}</div>
        <div class="info_user">  Participant: {{ connectUser.username }}</div>
    </div>

    <div class="filtre smartphone">
        {{ form_start(formFilter) }}
        <div class="categorieFiltre">
            <div class="champFiltre">
                {{ form_label(formFilter.campus) }}
                {{ form_widget(formFilter.campus, {'attr': {'value':connectUserParticipant.campus.nom}}) }}
            </div>
            <div class="champFiltre">
                {{ form_label(formFilter.titleSearch) }}
                {{ form_widget(formFilter.titleSearch) }}
            </div>
            <div class="champFiltre">
                Entre {{ form_widget(formFilter.dateIntervalDebut) }} et {{ form_widget(formFilter.dateIntervalFin) }}
            </div>
        </div>
        <div class="categorieFiltre">
            <div>
                {{ form_widget(formFilter.organisateur) }}
                {{ form_label(formFilter.organisateur) }}
            </div>
            <div>
                {{ form_widget(formFilter.estInscrit) }}
                {{ form_label(formFilter.estInscrit) }}
            </div>
            <div>
                {{ form_widget(formFilter.nEstPasInscrit) }}
                {{ form_label(formFilter.nEstPasInscrit) }}
            </div>
            <div>
                {{ form_widget(formFilter.passee) }}
                {{ form_label(formFilter.passee) }}
            </div>
        </div>
        <button class="categorieFiltre">Rechercher</button>
        {{ form_widget(formFilter.particiantid, {'attr': {'value':connectUserParticipant.id}}) }}
        {{ form_end(formFilter)}}
    </div>

    <div>
        <table class="listeSortie">
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Lieu</th>
                    <th class="smartphone">Clôture</th>
                    <th class="smartphone">Inscrits/place</th>
                    <th class="smartphone">État</th>
                    <th class="smartphone">Inscrit</th>
                    <th class="smartphone">Organisateur</th>
                    <th class="smartphone">Actions</th>
                </tr>
            </thead>
            <tbody>
                {%  for sortie in listSorties %}
                    <tr>
                        <th><a class="desktop" href="{{ path('sortie_details', {id: sortie.id}) }}">{{ sortie.nom }}</a>
                            <div class="smartphone"> {{ sortie.nom }}</div></th>
                        <th>{{ sortie.dateHeureDebut | date("d/m/Y h:i") }}</th>
                        <th>{{ sortie.lieu.ville.nom }}</th>
                        <th class="smartphone">{{ sortie.dateLimiteInscription | date("d/m/Y") }}</th>
                        <th class="smartphone">{{ sortie.inscrits | length }}/{{ sortie.nbInscriptionsMax }}</th>
                        <th class="smartphone">{{ sortie.etat.libelle }}</th>
                        <th class="smartphone">{%  if connectUserParticipant in sortie.inscrits %}X{% endif %}</th>
                        <th class="smartphone">{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom |slice(0, 1)  }}</th>
                        <th class="smartphone">

                            {%  if connectUserParticipant is same as sortie.organisateur %}
                                {% if sortie.etat.libelle == "Créee" %}
                                    modifier - publier
                                {% else %}
                                    <a href="{{ path('sortie_details', {id: sortie.id}) }}">afficher</a>
                                {% endif %}
                                {% if sortie.etat.libelle == "Ouverte" %}
                                    annuler
                                {% endif %}
                            {% else %}
                                <a href="{{ path('sortie_details', {id: sortie.id}) }}">afficher</a>
                                {%  if connectUserParticipant in sortie.inscrits %}
                                    <a href="{{ path('desinscription_sortie', {idSortie : sortie.id, idParticipant : connectUserParticipant.id }) }}">Se désister</a>
                                {% elseif sortie.inscrits|length < sortie.nbInscriptionsMax and "now"|date("Y-m-d") < sortie.dateLimiteInscription|date("Y-m-d") %}
                                    <a href="{{ path('inscription_sortie', {idSortie : sortie.id, idParticipant : connectUserParticipant.id }) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        </th>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
        <div class="smartphone">
            <a href="{{ path('sortie_new') }}"><button class="create" type="button">Créer une sortie</button></a>
        </div>
    </div>




{%  endblock %}
