{% embed 'sorties/_templateSorties.html.twig' with {'ajoutVille' : 'oui', 'boutonSupprimer': 'oui'} %}


    {% block title %}
        modifier {{ sortie.id }} - {{ parent() }}
    {% endblock %}


    {% block formStart %}{{ form_start(sortieForm) }}{% endblock %}
    {% block nomSortie %}{{ form_widget(sortieForm.nom) }}{% endblock %}

    {% block dateHeureDebut %}{{ form_widget(sortieForm.dateHeureDebut) }}{% endblock %}
    {% block dateLimiteInscription %}{{ form_widget(sortieForm.dateLimiteInscription) }}{% endblock %}
    {% block nombreDePlace %}{{ form_widget(sortieForm.nbInscriptionsMax) }}{% endblock %}
    {% block duree %}{{ form_widget(sortieForm.duree) }}{% endblock %}
    {% block description %}{{ form_widget(sortieForm.infosSortie) }}{% endblock %}
    {% block campusOrganisateur %}<span>{{ app.user.participant.campus.nom }}</span>{% endblock %}
    {% block villeSortie %}{{ form_widget(sortieForm.ville) }}{% endblock %}
    {% block lieuSortie %}{{ form_widget(sortieForm.lieu) }}{% endblock %}
    {% block rueSortie %}<span id="rue">{{ sortie.lieu.rue }}</span>{% endblock %}
    {% block codePostalSortie%}<span id="codePostale">{{ sortie.lieu.ville.codePostal }}</span>{% endblock %}
    {% block LatitudeSortie%}<span id="latitude">{{ sortie.lieu.latitude }}</span>{% endblock %}
    {% block LongitudeSortie %}<span id="longitude">{{ sortie.lieu.longitude }}</span>{% endblock %}

    {% block formEnd  %}{{ form_end(sortieForm ) }}{% endblock %}

    {% block javascripts %}
        {{ parent () }}
    {% endblock %}

{% endembed %}
