{% embed 'sorties/_templateSorties.html.twig' %}


    {% block title %}
       new - {{ parent() }}
    {% endblock %}


    {% block formStart %}{{ form_start(sortieForm) }}{% endblock %}
    {% block nomSortie %}{{ form_widget(sortieForm.nom) }}{% endblock %}

    {% block dateHeureDebut %}{{ form_widget(sortieForm.dateHeureDebut) }}{% endblock %}
    {% block dateLimiteInscription %}{{ form_widget(sortieForm.dateLimiteInscription) }}{% endblock %}
    {% block nombreDePlace %}{{ form_widget(sortieForm.nbInscriptionsMax) }}{% endblock %}
    {% block duree %}{{ form_widget(sortieForm.duree) }}{% endblock %}
    {% block description %}{{ form_widget(sortieForm.infosSortie) }}{% endblock %}
    {% block campusOrganisateur %}<span>{{ app.user.participant.campus.nom }}</span>{% endblock %}
    {% block lieuSortie %}{{ form_widget(sortieForm.lieu) }}{% endblock %}
    {% block rueSortie %}<span id="rue"></span>{% endblock %}
    {% block codePostalSortie%}<span id="codePostale"></span>{% endblock %}
    {% block LatitudeSortie%}<span id="latitude"></span>{% endblock %}
    {% block LongitudeSortie %}<span id="longitude"></span>{% endblock %}
    {% block listeOuBoutton %}
        <button name="validation" value="enregistrer">enregistrer</button>
        <button name="validation" value="publier">publier la sortie</button>
        <a href="{{ path('sortie_liste') }}">
            <button type="button" name="validation" value="annuler">annuler</button>
        </a>
    {% endblock %}
    {% block formEnd  %}{{ form_end(sortieForm ) }}{% endblock %}

    {% block javascripts %}
        <script>


            miseAJourDeInfoLieu();

            function miseAJourDeInfoLieu(){
                let sortieSelectionne = document.querySelector('#sortie_lieu');
                sortieSelectionne.addEventListener('change', ()=>{

                    let lieuSelectionne = sortieSelectionne.value
                    const url = new URL(window.location.origin + '/sortir.com/public');
                    let queryString = '/ajax/donneesDuLieuSelectionne';
                    console.log(url.pathname + queryString +"?lieuSelectionne=" + lieuSelectionne);
                    fetch(url.pathname + queryString +"?lieuSelectionne=" + lieuSelectionne).then(retour=>{
                        return retour.json();
                    }).then((lieu)=>{
                        console.log(lieu)
                        document.querySelector('#rue').innerHTML = lieu['rue'];
                        document.querySelector('#codePostale').innerHTML = lieu['codePostal'];
                        document.querySelector('#latitude').innerHTML = lieu['latitude'];
                        document.querySelector('#longitude').innerHTML = lieu['longitude'];

                    }).catch(e => alert(e));
                })
            }



        </script>
    {% endblock %}

{% endembed %}
