<header>
    <span class="navbar icon-navbar"><a class="brand" href="{{ path('sortie_liste') }}"><img class="logo" src="{{ asset('images/sortir.com.png')}}"></a></span> {# todo a remplacer par logo #}
    <span class="navbar lien">
        <a class="link smartphone" aria-current="page" href="{{ path('sortie_liste') }}">Accueil</a>
        {% if app.user %}
            <a class="link smartphone" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
            {% set roles = app.user.roles %}
            {% for role in roles %}
                {% if role == "ROLE_ADMIN" %}
                    <a class="link smartphone" aria-current="page" href="{{ path('ajouter_participant') }}">Inscription</a>
                    <a class="link smartphone" aria-current="page" href="{{ path('liste_participant') }}">Liste des participants</a>
                    {# <a class="link" aria-current="page" href="{{ path('ajouter_participant') }}">Ville</a>
                    <a class="link" aria-current="page" href="{{ path('ajouter_participant') }}">Campus</a>#}
                {% endif %}
            {% endfor %}
        {% else %}
            <a class="link" aria-current="page" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </span>
</header>
